<ion-header>
  <ion-toolbar>
    <ion-title>
      Search Movie
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-searchbar
    placeholder="Search movie"
    animated
    debounce="700"
    [value]="txtSearch"
    (ionChange)="search($event)"
  >
  </ion-searchbar>
</ion-toolbar>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-list-header>
      <ion-label>Points</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let point of points" (click)="txtSearch = point">
      <ion-label color="primary">{{point}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
